<div class="pure-u-1"> 
  <div class="content"> 
    <form class="pure-form" id='signin' action='/users/session' method='POST'>
      <fieldset class='pure-group'>
        <legend>Login</legend>

        <input type="email" name="email" placeholder="Email" class="pure-input-1-2">
        <input type="password" name="password" placeholder="Senha" class="pure-input-1-2">

        <button type='submit' class='pure-button pure-button-primary'>Enter</button>
      </fieldset>
    </form>
  </div>
</div>